/* src/App.css */
.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

/* src/LorenzVisualizer.css */
.canvas-container {
  width: 100vw; /* Vollbildbreite */
  height: 100vh; /* Vollbildhöhe */
  display: flex;
  justify-content: center;
  align-items: center;
}
